<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <!-- The character set should be utf-8 -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!-- Enables media queries -->
  <meta name="viewport" content="width=device-width"/>
  <!-- Link to the email's CSS, which will be inlined into the email -->
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <table class="body">
    <tr>
      <td>
        <center>
          <spacer size="40"></spacer>
          <container class="no-bg">
            <row>
              <columns class="first my-padding" large="2" valign="middle">
                <img class="float-center" src="../images/in.jpg" alt="in" width="50" height="47">
              </columns>
              <columns valign="middle" large="4">
                  <!--<img class="float-left" src="../images/in.jpg" alt="in" width="50" height="47">-->
                  <p class="in-text small-text-center">This Week at InVision</p>
              </columns>
              <columns class="last" large="6">
                <p class="text-right small-text-center view-browser"><a href="#">View in Browser</a></p>
                <p class="text-right small-text-center view-date">oct.10 - oct.14,2016</p>
              </columns>
            </row>
          </container>

          <spacer size="30"></spacer>

          <table>
            <tbody>
            <tr>
              <td>
                <img src="../images/bgr.jpg" width="580" height="288" alt="logo">
              </td>
            </tr>
            </tbody>
          </table>

          <container>
            <row>
              <columns></columns>
                <columns small="12" large="9">
                  <spacer size="40"></spacer>
                  <h3 class="text-center">InVision for JIRA - Tackle issues together</h3>
                  <spacer size="10"></spacer>
                  <p class="main-body-p text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat nemo quasi obcaecati sapiente tempore tenetur non consequuntur aspernatur id similique fuga esse, quaerat, eos tye</p>
                  <spacer size="30"></spacer>
                  <center>
                    <button href="#" class="radius">many issues, one team</button>
                  </center>
                  <!--<spacer size="40"></spacer>-->
                </columns>
              <columns></columns>
            </row>
          </container>
          <spacer size="40"></spacer>
        </center>
      </td>
    </tr>
  </table>
</body>
</html>